---
import Main from "../layouts/Main.astro";
---

<Main title="About">
  <h1>About</h1>
  <p class="content">
    Sunt irure nostrud minim culpa aliquip cupidatat Lorem. Laborum ut magna id
    amet magna commodo esse excepteur id dolor commodo. Ullamco ex elit cillum
    exercitation tempor cupidatat sit. In consectetur reprehenderit occaecat
    dolore voluptate aute ullamco quis nulla amet mollit aliqua. Ex adipisicing
    consequat dolore irure fugiat. Et non laborum tempor consequat do minim
    consequat velit ea do aute elit exercitation non. Anim laboris veniam magna
    sint mollit ullamco magna consectetur adipisicing consequat incididunt ex
    nostrud sit. Esse do velit ex et labore Lorem cillum aute. In enim velit
    aliquip labore ullamco nostrud excepteur eiusmod ea eiusmod. Non proident
    dolore consequat cupidatat sit occaecat esse. Magna ullamco ipsum nisi nisi
    ex. Pariatur nulla ea aliqua ut anim. Ullamco cupidatat sint ut velit sint
    ut do aute voluptate amet. Ipsum cupidatat ullamco et velit dolor. Nisi nisi
    qui mollit irure. Ex id amet id anim dolore amet magna commodo. Veniam
    consequat mollit ad velit. Eiusmod magna ipsum adipisicing labore magna
    dolore ea excepteur. Deserunt tempor sunt fugiat ea. Non quis ex dolor
    ullamco excepteur enim incididunt ullamco tempor reprehenderit adipisicing
    cillum ullamco laboris. Veniam laborum dolor cillum Lorem exercitation
    excepteur id non. Sunt incididunt minim est consequat cupidatat ullamco
    consectetur ex.
  </p>
</Main>
