---
import Main from "../layouts/Main.astro";
---
<Main title="Berita otomotif terbaru">
	<h1>Hello World GOO</h1>	
	<p>Gluten adalah salah satu jenis protein yang banyak terkandung pada biji-bijian tertentu. Pada makanan, kandungan ini memiliki fungsi yang baik dalam kuliner. Misalnya pada adonan roti yang dicampur dengan gluten membuat roti menjadi lebih mengembang dan memiliki tekstur yang lebih baik.
		Namun, tidak semua orang bisa mengonsumsi gluten. Pengidap celiac dan orang-orang yang memiliki tingkat sensitif tinggi gluten berisiko mengalami kerusakan pencernaan ketika mengonsumsinya. 
		Lantas, apa saja makanan dengan kandungan gluten yang tinggi?.</p>
</Main>
