---
import Main from "../layouts/Main.astro";
import { Image } from "@astrojs/image/components";
---

<Main title="Berita otomotif terbaru">
  <div class="md:flex space-x-4">
    <div class="md:w-[65%] p-3 bg-colorD">
      <div class="text-xl font-bold text-gray-700">HEADLINE</div>
      <div class="pt-4">
        <Image
          src="https://res.cloudinary.com/damatnwia/image/upload/v1679586097/blog/8-aplikasi-jadwal-puasa-ramadhan-banyak-yang-gratisan-jja8uqhEim_lfd9km.jpg"
          alt="headline"
          aspectRatio="1:1"
          width={1024}
          height={681}
          format="jpg"
        />
      </div>
    </div>
    <div class="md:w-[35%] bg-colorD p-3 border-t-2 border-colorA">
      <div class="text-center font-bold text-cyan-700">INFO PILIHAN</div>
      <ul>        
        <li class="pilihan">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
          deserunt amet suscipit aliquam assumenda veniam magnam.
        </li>
        <li class="pilihan">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
          deserunt amet suscipit aliquam assumenda veniam magnam.
        </li>
        <li class="pilihan">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
          deserunt amet suscipit aliquam assumenda veniam magnam.
        </li>
      </ul>
    </div>
  </div>
</Main>
<style></style>
