---
import Main from "../layouts/Main.astro";
import { Image } from "@astrojs/image/components";
import Pilihan from "../components/Pilihan.astro";
import Headline from "../components/Headline.astro";
---

<Main title="Berita otomotif terbaru">
  <div class="md:flex space-x-4">
    <div class="md:w-[65%] p-3 bg-colorD">
      <Headline />
      <div class="bg-gray-300 mt-4 border-t-[3px] border-colorA p-2">
        <div class="font  -bold">INFO TERBARU</div>
      </div>
    </div>
    <div class="md:w-[35%] bg-colorD p-3 border-t-[3px] border-colorA">
      <Pilihan />
    </div>
  </div>
</Main>
