---

---
<div class="pt-4">
    <ul class="border-b border-t border-colorC px-4 bg-colorC flex space-x-4">
        <li class="cat-list"><a href="/">Terbaru</a></li>
        <li class="cat-list"><a href="/">Terbaru</a></li>
        <li class="cat-list"><a href="/">Terbaru</a></li>
        <li class="cat-list"><a href="/">Terbaru</a></li>
    </ul>
</div>
<style>
    .cat-list {
        @apply px-2 py-1 transition duration-150 text-gray-600;
    }
    .cat-list:hover {
        @apply bg-colorA text-colorB ;
    }
</style>