---

---
<div class="pt-4">
    <ul class="flex bg-colorA">
        <li class="cat-list"><a href="/category/mobil">Mobil</a></li>
        <li class="cat-list"><a href="/category/motor">Motor</a></li>
        <li class="cat-list"><a href="/category/bengkel">Bengkel</a></li>
        <li class="cat-list"><a href="/category/tips">Tips n Trick</a></li>
    </ul>    
</div>
<style >
    .cat-list {        
    }
    .cat-list a {
        @apply py-2 px-4 transition duration-700 text-white ease-in-out border-r border-[#4388ad] text-center block hover:bg-colorC hover:text-gray-600;
    }
    /* .cat-list a:hover {
        @apply bg-colorC text-gray-600 font-bold ;
    } */
</style>