---

---
<div class="pt-4">
    <ul class="flex bg-cyan-600">
        <li class="cat-list"><a href="/category/mobil">Mobil</a></li>
        <li class="cat-list"><a href="/category/motor">Motor</a></li>
        <li class="cat-list"><a href="/category/bengkel">Bengkel</a></li>
        <li class="cat-list"><a href="/category/tips">Tips n Trick</a></li>
    </ul>    
</div>
<style >
    .cat-list {        
    }
    .cat-list a {
        @apply py-2 px-4 text-gray-800 ease-in-out text-center block hover:bg-colorC hover:text-gray-600;
    }
</style>