---

---
<div class="footer">
    <div class="max-w-[1140px] m-auto">
    Copryright &copy; 2023. All rights are reserved
    </div>
</div>
<style is:global>
    .footer {
        @apply bg-colorC text-colorA mt-4 py-2 text-center;
    }
</style>