---
import { Image } from "@astrojs/image/components";
---
<div class="text-xl font-bold text-gray-700">HEADLINE</div>
<div class="pt-4">
  <Image
    src="https://res.cloudinary.com/damatnwia/image/upload/v1679586097/blog/8-aplikasi-jadwal-puasa-ramadhan-banyak-yang-gratisan-jja8uqhEim_lfd9km.jpg"
    alt="headline"
    aspectRatio="1:1"
    width={724}
    height={381}
    format="jpg"
  />
</div>
<div class="text-cyan-700 font-bold py-2">MOBIL</div>
<h1 class="text-xl font-bold">5 Hewan Mamalia Purba dengan Wujud Paling Menyeramkan</h1>