---
---

<div class="bg-white p-5 border-b w-full">
  <div class="max-w-screen-lg m-auto flex justify-between">
    <div class="nav-list">
      <a href="/">Beranda</a>
      <a href="/about">About</a>
    </div>
    <div>Login</div>
  </div>
</div>
<style is:global>
  h1 {
    @apply text-2xl;
  }
  p {
    @apply text-gray-600;
  }
  .nav-list {
    @apply grid grid-cols-4 gap-10;
  }
</style>
