---
---

<div class="bg-white px-4 py-3 border-b w-full">
  <div class="max-w-[1140px] m-auto flex justify-between text-colorA font-bold">
    <div class="nav-list">
      <a href="/">Beranda</a>
      <a href="/about">About</a>
    </div>
    <div>Search</div>
  </div>
</div>
<style is:global>
  h1 {
    @apply text-2xl;
  }
  p {
    @apply text-gray-600;
  }
  .nav-list {
    @apply flex space-x-5 ;
  }
  .nav-list a {
    @apply px-2 py-1;
  }
  .nav-list a:hover {
    @apply text-colorC bg-colorA rounded-full;
  }
</style>
