---
import "@fontsource/nunito";
import Category from "../components/Category.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
const { title, description } = Astro.props;
const { slug } = Astro.params
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description || 'Blog otomotif' } />
    <title>{title}</title>
  </head>
  <body class="bg-colorD">
    <Navbar />
    <div class="max-w-[1140px] m-auto bg-white">
      <Category />
      <div class="p-4">
        <slot />
      </div>
    </div>
  </body>
  <Footer />
</html>
